body {
  width: 100%;
  height: 100vh;
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  margin: 0;
}


.container {
  max-width: 70%;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  margin: 100px auto;
}

.text-h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
  font-weight: 400;
}

.e2-loading,
.e2-loading:after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.e2-loading {
  text-indent: -9999em;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid black;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* 
.e2-loading {
  -webkit-animation: loading 1s infinite;
  -moz-animation: loading 1s infinite;
  -ms-animation: loading 1s infinite;
  animation: loading 1s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear
}

@keyframes loading {
  /* 25% {
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    transform: rotate(36deg)
  }

  50% {
    -moz-transform: rotate(144deg);
    -ms-transform: rotate(144deg);
    transform: rotate(144deg)
  }

  75% {
    -moz-transform: rotate(288deg);
    -ms-transform: rotate(288deg);
    transform: rotate(288deg)
  } */
/* 
100% {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg)
}
}

*/